* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/imagen\ de\ fondo.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.side-box {
    width: 50%;
    height: 100vh;
    background-color: #313234;
}

.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido en el contenedor */
    align-items: center; /* Centra verticalmente el contenido en el contenedor */
    width: 50vw; /* Ancho al 100% del viewport (ventana del navegador) */
    height: 20vh; /* Altura al 100% del viewport */
}


@media (max-width: 430px) {
    .logo{
        margin-left: 20vh;
    }

    .side-box {
        width: 100%;
        height: 100vh;
        background-color: #313234;
    }

    .input{
        background-color: #454648;
        width: 40vh;
        height: 3rem;
        border: none; 
    }

    .input::placeholder {
        font-size: 15px; 
        font-weight: bold;
        color: #BCB4B4;
    }

    .input:hover {
        background-color: #454648;
    }

    .input:focus {
        background-color: #454648;
    }

    .login_boton{
        width: 12rem;
        border-radius: 50px;
    }

    .login_botones{
        width: 10rem;
        height: 2.5rem;
        margin-top: 10px;
    }
}

@media (max-width: 430px) {
    .logo{
        margin-left: 28vh;
    }

    .input{
        background-color: #454648;
        width: 44vh;
        height: 3rem;
        border: none; 
    }

    .input::placeholder {
        font-size: 15px; 
        font-weight: bold;
        color: #BCB4B4;
    }

    .input:hover {
        background-color: #454648;
    }

    .input:focus {
        background-color: #454648;
    }

    .login_boton{
        width: 12rem;
        border-radius: 50px;
    }

    .login_botones{
        width: 10rem;
        height: 2.5rem;
        margin-top: 10px;
    }
}

@media (min-width: 500px) {
    .logo{
        margin-left: 0vh;
    }

    .input{
        background-color: #454648;
        width: 35vh;
        height: 3rem;
        border: none; 
    }

    .input::placeholder {
        font-size: 15px; 
        font-weight: bold;
        color: #BCB4B4;
    }

    .input:hover {
        background-color: #454648;
    }

    .input:focus {
        background-color: #454648;
    }

    .login_boton{
        width: 12rem;
        border-radius: 50px;
    }

    .login_botones{
        width: 10rem;
        height: 2.5rem;
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    .logo{
        margin-left: 0vh;
    }

    .input{
        background-color: #454648;
        width: 45vh;
        height: 3rem;
        border: none; 
    }

    .input::placeholder {
        font-size: 15px; 
        font-weight: bold;
        color: #BCB4B4;
    }

    .input:hover {
        background-color: #454648;
    }

    .input:focus {
        background-color: #454648;
    }

    .login_boton{
        width: 12rem;
        border-radius: 50px;
    }

    .login_botones{
        width: 10rem;
        height: 2.5rem;
        margin-top: 10px;
    }
}