body{
    background-color: #111222;
}

/* Input buscar/search */
.input_search{
    background-color: #CFCDCD;
}


div#is-relative{
    position: relative;
}

#icon {
    position: absolute;
    left: 10px; /* Ajusta la posición izquierda según tus necesidades */
    top: 50%; /* Ajusta la posición vertical según tus necesidades */
    transform: translateY(-50%);
}

.input_search::placeholder {
    font-size: 20px; 
    font-weight: bold;
    color: #fff;
}

.input_search:hover {
    background-color: #CFCDCD;
}

.input_search:focus {
    background-color: #CFCDCD;
}

.icono-buscar{
    margin-top: -5px;
    color: #F5F5F5;
}

/* Links */
.link{
    text-decoration:none;
    color: #9FB1CA; 
    font-family: arial; 
}

/* capa oscura de imagen en el carousel principal */
#image {
    background-color: rgba(0,0,0,0.8);
    filter:brightness(0.4);
}

@media (max-width: 430px) {

    .logo{
        height: 90px;
        width: 90px;
    }

    .p-links{
        margin-top: 20px;
    }

    .card-item{
        border-radius: 10px;
        width:240px;
        height: 245px;
        overflow: hidden;
    }

    .card-section-start{
        height: 130px;
        overflow: hidden;
    }

    .card-section-body{
        height: 60px;
        overflow: hidden;
    }

    .card-section-end{
        margin-top: 16px;
        height: 55px;
    }

    footer{
        font-size: 10px;
    }
}

@media (min-width: 430px) {

    .logo{
        height: 90px;
        width: 90px;
    }

    .p-links{
        margin-top: 20px;
    }

    .card-item{
        border-radius: 10px;
        width: 240px;
        height: 240px;
        overflow: hidden;
    }

    .card-section-start{
        height: 130px;
        overflow: hidden;
    }

    .card-section-body{
        height: 60px;
        overflow: hidden;
    }

    .card-section-end{
        margin-top: 12px;
        height: 50px;
    }
}

@media (min-width: 768px) {

    .p-links{
        margin-top: 15px;
        text-decoration:none;
        color: #9FB1CA; 
        font-family: arial;
        font-size: 14px;
    }

    .p_categorias-link{
        margin-right: 30px;
    }

    .card-item{
        border-radius: 10px;
        width: 240px;
        height: 240px;
        overflow: hidden;
    }

    .card-section-start{
        height: 130px;
        overflow: hidden;
    }

    .card-section-body{
        height: 60px;
        overflow: hidden;
    }

    .card-section-end{
        margin-top: 12px;
        height: 50px;
    }

    .btn-custom-item{
        border-radius: 10px 0 0 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 1024px) {

    .input_search-large{
        width: 800px;
    }

    .p-links{
        margin-top: 20px;
        margin-bottom: 15px;
        text-decoration:none;
        color: #9FB1CA; 
        font-family: arial;
        font-size: 20px;
    }

    .p_categorias-link{
        margin-right: 30px;
    }

    .card-item{
        border-radius: 10px;
        width: 350px;
        height: 270px;
        overflow: hidden;
    }

    .card-section-start{
        height: 150px;
        overflow: hidden;
    }

    .card-section-body{
        height: 70px;
        overflow: hidden;
    }

    .card-section-end{
        margin-top: 12px;
        height: 50px;
    }

    .btn-custom-item{
        border-radius: 10px 0 0 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}